@model List<Category>

<h1>Produkter</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <a asp-action="Create" class="btn btn-primary">Lägg till produkt</a>
        <a asp-action="IndexEUR" class="btn btn-light">Visa priser i EUR</a>
    </div>
</div>

@foreach (var category in Model)
{
    <h2>@category.Name</h2>
    <hr>
    <div class="row">
        @foreach (var product in category.Products)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@product.ImgUrl" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p><strong>Pris: </strong>@product.PriceSEK kr</p>
                        @if (product.Tags.Any())
                        {
                            <p>
                                <strong>Taggar: </strong>
                                @foreach (var tag in product.Tags)
                                {
                                    <span class="badge bg-dark">@tag.Name</span>
                                }
                            </p>
                        }
                        <form asp-action="AddToCart" asp-controller="Cart" method="POST">
                            <input type="hidden" name="productId" value="@product.Id">
                            <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Products")">
                            <button type="submit" class="btn btn-success mb-1">Lägg i varukorg</button>
                        </form>
                        <form asp-action="Details" asp-controller="Products" method="POST">
                            <input type="hidden" name="productId" value="@product.Id">
                            <button type="submit" class="btn btn-primary">Detaljer</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}