@model Ticket

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Titel: @Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Kund: @Model.UserEmail</h6>
        <h6 class="card-subtitle mb-2 text-muted">Beskrivning: @Model.Description</h6>
    </div>
</div>

<h3 class="mt-4">Meddelanden:</h3>

<div class="list-group">
    @foreach (var message in Model.TicketMessages)
    {
        <div class="list-group-item list-group-item-action">
            @if (message.IsAdmin)
            {
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-danger">Admin</h5>
                </div>
                <p class="mb-1">@message.Text</p>
            }
            else
            {
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">Kund</h5>
                </div>
                <p class="mb-1 font-weight-bold">@message.Text</p>
            }
        </div>
    }
</div>

<h3 class="mt-4">Svara på ärende:</h3>

<form asp-action="AddTicketMessageAdmin" asp-controller="Tickets" method="POST">

    <input type="hidden" name="TicketId" value="@Model.Id" />
    <div class="form-group">
        <textarea class="form-control" name="Text"></textarea>
        <button type="submit" class="btn btn-primary mt-2">Skicka</button>
    </div>

</form>
